h2,h3,p,th,tr,td{
  color: rgb(255, 255, 255);  
}
table{
    width: 100%;
}
table,th,td{
   
    padding:8px;
    border:1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
th{
    background-color: rgb(120, 207, 207);
}
tr{
    background-color: rgb(120, 207, 153);
}
body{
    background-color: rgb(29, 28, 31);
}
